<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-secured-request-heading" data-cy="SecuredRequestCreateUpdateHeading">Create or edit a Secured Request</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_requestId">Request Id</label>
          <input type="text" class="form-control" name="requestId" id="field_requestId" data-cy="requestId" formControlName="requestId" />
          <div *ngIf="editForm.get('requestId')!.invalid && (editForm.get('requestId')!.dirty || editForm.get('requestId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('requestId')?.errors?.required">This field is required.</small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pinCode">Pin Code</label>
          <input type="text" class="form-control" name="pinCode" id="field_pinCode" data-cy="pinCode" formControlName="pinCode" />
          <div *ngIf="editForm.get('pinCode')!.invalid && (editForm.get('pinCode')!.dirty || editForm.get('pinCode')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('pinCode')?.errors?.required">This field is required.</small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required">This field is required.</small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_created">Created</label>
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('created')?.errors?.required">This field is required.</small>
            <small class="form-text text-danger" [hidden]="!editForm.get('created')?.errors?.datetimelocal"
              >This field should be a date and time.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_expires">Expires</label>
          <div class="d-flex">
            <input
              id="field_expires"
              data-cy="expires"
              type="datetime-local"
              class="form-control"
              name="expires"
              formControlName="expires"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
