<div>
  <h2 id="page-heading" data-cy="CustomerHeading">
    <span>Customers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer"
        [routerLink]="['/customer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Customer</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="customers?.length === 0">
    <span>No Customers found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="customers && customers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id" *ngIf="list.id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="code" *ngIf="list.code">
            <div class="d-flex">
              <span>Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name" *ngIf="list.name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="country" *ngIf="list.country">
            <div class="d-flex">
              <span>Country</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="membership" *ngIf="list.membership">
            <div class="d-flex">
              <span>Membership</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="state" *ngIf="list.state">
            <div class="d-flex">
              <span>State</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="closeReason" *ngIf="list.closeReason">
            <div class="d-flex">
              <span>Close Reason</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="emailDomains" *ngIf="list.emailDomains">
            <div class="d-flex">
              <span>Email Domains</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vatId" *ngIf="list.vatId">
            <div class="d-flex">
              <span>Vat Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bank" *ngIf="list.bank">
            <div class="d-flex">
              <span>Bank</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="iban" *ngIf="list.iban">
            <div class="d-flex">
              <span>Iban</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="logo" *ngIf="list.logo">
            <div class="d-flex">
              <span>Logo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notes" *ngIf="list.notes">
            <div class="d-flex">
              <span>Notes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="created" *ngIf="list.created">
            <div class="d-flex">
              <span>Created</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updated" *ngIf="list.updated">
            <div class="d-flex">
              <span>Updated</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="trialed" *ngIf="list.trialed">
            <div class="d-flex">
              <span>Trialed</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="declined" *ngIf="list.declined">
            <div class="d-flex">
              <span>Declined</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="activated" *ngIf="list.activated">
            <div class="d-flex">
              <span>Activated</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="closed" *ngIf="list.closed">
            <div class="d-flex">
              <span>Closed</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="agency.id">
            <div class="d-flex">
              <span>Agency</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers; trackBy: trackId" data-cy="entityTable">
          <td *ngIf="list.id">
            <a [routerLink]="['/customer', customer.id, 'view']">{{ customer.id }}</a>
          </td>
          <td *ngIf="list.code">{{ customer.code }}</td>
          <td *ngIf="list.name">{{ customer.name }}</td>
          <td *ngIf="list.country">{{ customer.country }}</td>
          <td *ngIf="list.membership">{{ customer.membership }}</td>
          <td *ngIf="list.state">{{ customer.state }}</td>
          <td *ngIf="list.closeReason">{{ customer.closeReason }}</td>
          <td *ngIf="list.emailDomains">{{ customer.emailDomains }}</td>
          <td *ngIf="list.vatId">{{ customer.vatId }}</td>
          <td *ngIf="list.bank">{{ customer.bank }}</td>
          <td *ngIf="list.iban">{{ customer.iban }}</td>
          <td *ngIf="list.logo">{{ customer.logo }}</td>
          <td *ngIf="list.notes">{{ customer.notes }}</td>
          <td *ngIf="list.created">{{ customer.created | formatMediumDatetime }}</td>
          <td *ngIf="list.updated">{{ customer.updated | formatMediumDatetime }}</td>
          <td *ngIf="list.trialed">{{ customer.trialed | formatMediumDatetime }}</td>
          <td *ngIf="list.declined">{{ customer.declined | formatMediumDatetime }}</td>
          <td *ngIf="list.activated">{{ customer.activated | formatMediumDatetime }}</td>
          <td *ngIf="list.closed">{{ customer.closed | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="customer.agency">
              <a [routerLink]="['/agency', customer.agency.id, 'view']">{{ customer.agency.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/customer', customer.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </a>

              <a [routerLink]="['/customer', customer.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </a>

              <button type="submit" (click)="delete(customer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="customers && customers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
