<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="contact">
      <h2 data-cy="contactDetailsHeading"><span>Contact</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ contact.id }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ contact.type }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ contact.name }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ contact.email }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ contact.phone }}</span>
        </dd>
        <dt><span>Unit</span></dt>
        <dd>
          <span>{{ contact.unit }}</span>
        </dd>
        <dt><span>Street</span></dt>
        <dd>
          <span>{{ contact.street }}</span>
        </dd>
        <dt><span>Number</span></dt>
        <dd>
          <span>{{ contact.number }}</span>
        </dd>
        <dt><span>Zip</span></dt>
        <dd>
          <span>{{ contact.zip }}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <span>{{ contact.city }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ contact.country }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>
    </div>
  </div>
</div>
