<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="membership">
      <h2 data-cy="membershipDetailsHeading"><span>Membership</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ membership.id }}</span>
        </dd>
        <dt><span>Period</span></dt>
        <dd>
          <span>{{ membership.period }}</span>
        </dd>
        <dt><span>License</span></dt>
        <dd>
          <span>{{ membership.license }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ membership.email }}</span>
        </dd>
        <dt><span>Company</span></dt>
        <dd>
          <div *ngIf="membership.company">
            <a [routerLink]="['/company', membership.company.id, 'view']">{{ membership.company.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/membership', membership.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
