<div class="d-flex justify-content-center">
  <div class="pk-grid-container-4">
    <div *ngIf="company">
      <h2 data-cy="companyDetailsHeading"><span>Company</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ company.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ company.code }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ company.name }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ company.country }}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
          <span>{{ company.state }}</span>
        </dd>
        <dt><span>License</span></dt>
        <dd>
          <span>{{ company.license }}</span>
        </dd>
        <dt><span>Vatin</span></dt>
        <dd>
          <span>{{ company.vatin }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/company', company.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>

    <div>
      <address-detail [companyId]="companyId" [type]="billing" [title]="'Billing'"></address-detail>
    </div>

    <div>
      <address-detail [companyId]="companyId" [type]="manager" [title]="'Manager'"></address-detail>
    </div>

    <div>
      <address-detail [companyId]="companyId" [type]="operation" [title]="'Operation'"></address-detail>
    </div>
  </div>
</div>
